Language:        Cpp
BasedOnStyle:  Google

AccessModifierOffset: -8
AlignEscapedNewlines: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Allman
BreakStringLiterals: true
ColumnLimit: 120
DerivePointerAlignment: false
IndentCaseLabels: true
IndentWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyBreakBeforeFirstCallParameter: 300
ReflowComments: false
SpacesBeforeTrailingComments: 1
UseTab: Never
